---
import "@shared/styles/global.css";

const {pageTitle = "Tech Sphere", pageDescription = "Benvinguts a la web de Tech Sphere" } = Astro.props;
---

<html lang="ca">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Lobster&family=YourFinalFontName&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		
            <slot/>
       
	</body>
</html>

